.form-booking .booking__header p {
  font-weight: 500;
  font-family: "Montserrats";
}

@font-face {
  font-family: "Montserrats";
  src: url("../fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

.form-booking {
  background: radial-gradient(50% 50% at 50% 50%, #15BEF0 0%, #0097DC 98.02%);
  border-radius: 10px;
  width: 100%;
}

@media (min-width: 1024px) {
  .form-booking {
    margin: 0;
    width: 380px;
  }
}

.form-booking .booking__header {
  height: 178px;
  background-image: url(../images/booking-header.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .form-booking .booking__header {
    height: 182px;
  }
}

.form-booking .booking__header h2 {
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 28px;
  line-height: 29px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 4px;
}

@media (min-width: 1024px) {
  .form-booking .booking__header h2 {
    font-size: 30.4207px;
    line-height: 37px;
    margin-bottom: 8px;
  }
}

.form-booking .booking__header p {
  font-size: 14.0604px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .form-booking .booking__header p {
    font-size: 14.0604px;
    line-height: 17px;
  }
}

.form-booking .booking__header .booking__image {
  opacity: 0.9;
  width: 85px;
}

.form-booking .booking__content {
  padding: 0px 20px 20px;
}

.form-booking .booking__content form {
  margin-bottom: 0px;
}

@media (min-width: 1024px) {
  .form-booking .booking__content form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 17px;
    row-gap: 16px;
  }

  .form-booking .booking__content form.booking__formv2 {
    display: block;
  }

  .form-booking .booking__content form .booking__formv2__box {
    grid-template-columns: 1fr;
  }
}

.form-booking .booking__content form .booking__formv2__box {
  gap: 16px;
}

.form-booking .booking__content form label {
  margin-bottom: 0;
}

.form-booking .booking__content form input {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin-bottom: 0;
  background: #FFFFFF;
  border-radius: 5px;
  height: 40px;
  padding: 10px 13px;
}

.form-booking .booking__content form .fhl__form {
  padding-top: 10px;
}

.form-booking .booking__content form button {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.85));
  border-radius: 5px;
  width: 167px;
  height: 40px;
  margin: auto;
  display: block;
}

/* Style chung select */

.c-select {
  position: relative;
}

.c-select.c-form>.c-icons {
  width: 12px;
}

.c-select.c-form>.c_input {
  padding: 0;
}

.c-select>.c_input {
  height: 36px;
  line-height: 36px;
  padding: 0 30px 0 12px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-select>.c-icons {
  height: 100%;
  width: 30px;
  cursor: pointer;
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
}

.c-select>.c-icons>i {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.c-select .c_list {
  /* opacity: 0;
  visibility: hidden; */
  width: 100%;
  max-height: 217px;
  line-height: 20px;
  padding: 5px;
  background-color: #fff;
  overflow: auto;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  z-index: 10000;
  position: absolute;
  top: 40px;
  -webkit-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
  display: none;
}

.c-select.is-focused .c_list {
  opacity: 1;
  visibility: visible;
  top: 40px;
}

.c-select.is-focused>.c-icons i {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: rotate(180deg) translate(50%, 50%);
  transform: rotate(180deg) translate(50%, 50%);
}

.c-form .c_input,
.c-form-border .c_input {
  width: 100%;
  height: 0;
  border: none;
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.c-form-border .c_input {
  padding: 1.215em 1.072em 1.415em 1.072em;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border-radius: inherit;
  background-color: #fff;
  border-left: 2px solid #0097DC;
}

.c-form-border::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: -1px -1px -1px -1px;
  border-radius: inherit;
}

.c-form-border .c_input {
  border-color: #0097DC !important;
}

.c-select>.c_input {
  height: 36px;
  line-height: 36px;
  padding: 0 30px 0 12px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-form-border::before {
  background-image: linear-gradient(to right top, #0097DC, #0097DC) !important;
}

.c-form-icon i {
  position: absolute !important;
  right: 10px;
  top: 5px;
  color: #0097DC;
  z-index: 9;
  font-size: 20px;
}

.c-radio input[type=radio] {
  overflow: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.c-radio label>span:not(.c_tick) {
  font-size: 1em;
  line-height: 1.42857143;
}

.c-radio label {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
  color: #666666;
  position: relative;
  font-weight: 400;
  font-size: 16px !important;
  color: #333 !important;
}

.c-select .c-radio label {
  display: block;
  color: inherit;
  padding: 10px 0;
}

.c-select .c-radio:hover,
.c-select .c-radio.is-selected {
  color: #fff !important;
  background-color: #d4a145;
}

.c-select .c-radio {
  font-size: 14px;
  padding: 0 10px;
  margin-top: 0;
  margin-bottom: 5px;
  border-radius: 3px;
  -webkit-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
}

.c-select .c-radio:hover span {
  color: #fff !important;
}

.s-sytem-1 .s_scroll {
  padding: 2px;
}

.loading--o {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  z-index: 111111;
  align-items: center;
  justify-content: center;
  background: #fff;
}

@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.booking__formv2__box .c-select {
  width: 100%;
  border-radius: 5px;
  text-align: left;
  color: #333;
  background: #fff;
  height: 40px;
}

.booking__formv2__box .c-select .c_input {
  color: #333;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-transition: color .3s, border .3s, background .3s, opacity;
  font-size: 14px !important;
  font-style: italic;
  text-transform: capitalize;
}

.booking__formv2__box .c-select input,
.c-select.c-form-border .c_input input {
  padding: 0 !important;
  border: none !important;
  margin: 0 !important;
  box-shadow: none !important;
  cursor: pointer;
}



.animate-show {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  opacity: 0;
}

.show-branch.fb__box {
  /* display: block; */
}

.modal {
  display: none;
}

.modal.show {
  display: block;
  z-index: 11111111111;
}

ul.list-stores.scroll_y {
  min-height: 250px;
  max-height: 320px;
}

ul.list-stores li.store__item {
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 4px;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

ul.list-stores li.store__item .store__store_image {
  height: 128px;
  width: 100%;
  margin-right: 0 !important;
  border-radius: 20px 0px;
  overflow: hidden;
}

ul.list-stores li.store__item .store__store_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

ul.list-stores li.store__item .store__text {
  font-size: 15px;
}

ul.list-stores li.store__item .store__address {
  text-align: left;
  color: #333333;
  padding-right: 22px;
}

.show-branch .ft__bg {
  background-image: none !important;
  background-color: #fff;
}

.show-branch .c-select.c-form-border {
  border-radius: 5px;
  text-align: left;
  margin-bottom: 10px;
}

.checkO {
  position: absolute;
  top: 4px;
  left: 8px;
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  border-radius: 50%;
  border: 1px solid #0097DC;
  cursor: pointer !important;
}

.checkO::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}

.show-branch ul.list-stores li.store__item .checkO {
  position: absolute;
  top: 50%;
  right: 0px !important;
  left: auto !important;
  transform: translateY(-50%);
}

.show-branch ul.list-stores li.store__item .checkO:after {
  top: 0px;
  left: 0px;
}

.show-branch ul.list-stores li.store__item.active .checkO:after {
  background: #d4a145;
  width: 16px;
  height: 16px;
  top: 3px;
  left: 3px;
}

.show-branch ul.list-stores li.store__item.active .checkO {
  border-color: #d4a145;
}

.show-branch li:hover .checkO,
.show-branch li.active .checkO {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
}

p.modal-branch__area {
  margin-bottom: 5px;
  color: #d4a145;
  text-align: left;
}

ul.list-stores li.store__item.active .store__address span.store__title {
  color: #d4a145;
}

ul.list-stores li.store__item .store__address .store__name {
  display: flex;
  align-items: center;
  gap: 5px;
}

.show-branch .ft__box_all {
  background-color: #fff;
  border-radius: 5px;
}

.show-branch .btn__style--all {
  color: #0097DC !important;
  border-color: #0097DC !important;
  font-size: 16px;
  margin: auto;
  width: auto;
}

.show-branch .btn__style--all:hover {
  color: #d4a145 !important;
  border-color: #d4a145 !important;
}

.show-branch .ft__title {
  color: #d4a145 !important;
  font-size: 25px;
}

.inactive {
  display: none;
}

.inactive.active,
.active {
  display: block;
}

.modal-branch__stores {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.modal-branch__stores .s_empty {
  background: #F6F6F6;
  padding: 30px;
}

@media screen and (max-width: 991px) {
  .icon-angle-down:before {
    content: "ï„‡" !important;
    position: relative !important;
    background: transparent !important;
    transform: none !important;
    border: none !important;
  }

  .show-branch .ft__box_all {
    padding: 5px 20px;
  }
}

@media (max-width: 767px) {
  .show-branch ul li.store__item {
    grid-template-columns: 120px 1fr;
  }

  .show-branch ul li.store__item .store__store_image {
    height: 96px;
  }

  ul.list-stores li.store__item .store__address .store__name,
  ul.list-stores li.store__item .store__text {
    font-size: 14px;
  }
  .checkO {
    /* width: 20px;
    height: 20px; */
}
  .show-branch ul li.store__item.active .checkO:after {
    width: 12px;
    height: 12px;
  }
  .show-branch .ft__bg{
    height: auto;
  }
}

@media (max-width:375px) {

  .show-branch ul li.store__item {
    grid-template-columns: 98px 1fr;
  }

  .show-branch ul li.store__item .store__store_image {
    height: 60px;
  }

}

@media (min-width:550px) {
  .fadvise__popup .f--input_v2{
    flex-direction: column;
  }
  .fadvise__popup .bcheck-bs {
    grid-template-columns: 1fr 1fr;
  }
  .fadvise__popup form {
    padding: 50px 40px;
  }
  .fadvise__popup .f--boxservice_v2 {
    position: relative;
    padding: 5px 0;
  }
  .fadvise__popup .ff__form {
    display: flex;
    justify-content: center;
  }
  .fadvise__popup  .btn__advise {
    width: 220px;
  }

}

.f--input_v2 {
  display: flex;
  flex-direction: column;
}

.custom-style--f {
  border-radius: 5px !important;
  color: #333;
  font-weight: 400 !important;
  border: 2px solid transparent !important;
  background-image: linear-gradient(#fff, rgba(255, 255, 255, 0)), linear-gradient(101deg, #0B339A, #0097DC, #007AD2) !important;
  background-origin: border-box !important;
  background-clip: content-box, border-box !important;
  box-shadow: 1px 1000px 1px #fff inset !important;
  background-repeat: repeat !important;
  background-position: unset;
  background-size: cover !important;
}

select.fr__services.custom-style--f {
  height: 45px !important;
  margin: 0px !important;
}

.form__booking_v2 select.fr__services.custom-style--f {
  height: 40px !important;
  margin-bottom: 15px !important;
}

.box__input-s.fr__services-box {
  position: relative;
}

.box__input-s.fr__services-box::before {
  content: "";
  background-image: url('../images/Vector-51.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 13px;
  right: 0px;
  width: 20px;
  height: 20px;
}

textarea.fr__note.custom-style--f {
  resize: unset;
}

.form__booking_v2 .box__input-s.fr__services-box::before {
  top: 11px;
}

@media only screen and (max-width: 550px) {
  /* form.form--register {
    min-width: 375px;
  } */

  .fbookingv2_main,
  .f--bg_v2 {
    width: 100%;
    min-width: 375px;
  }
}

@media only screen and (max-width: 375px) {
  form.form--register {
    min-width: auto;
  }

  .fbookingv2_main,
  .f--bg_v2 {
    width: 100%;
    min-width: 350px;
  }
} 

.phone-input-container .iti--allow-dropdown {
  display: flex;
}


.phone-input-container .iti__country-container {
  position: unset !important;
  height: 40px;
  border: 1px solid #E0E0E0;
  border-right: 0 !important;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #fff;
}

.phone-input-container .iti__selected-country {
  margin-right: 8px;
}


.input-tel {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

input.input-tel {
  height: 40px;
  padding-left: 10px !important;
  font-weight: 400;
  color: var(--process-text-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
input.input-tel::placeholder{
  color: var(--process-text-color);
}
input.input-tel:focus {
  outline: none !important;
  box-shadow: none !important;
}
input.fr__mail.custom--hf {
  max-width: 100%;
  padding-left: 10px;
  border: none !important;
}
.position-relative{
  position: relative !important;
}
label.custom-style--f .input__empty{
  border: none !important;
}