:root {
    --brandwebsite-gradient-primary: linear-gradient(90.33deg, #0B339A 0%, #0097DC 49.13%, #007AD2 99.72%);
    ;
    --brandwebsite-gradient-secondary : linear-gradient(90deg, #FFD086 0%, #D4A145 50.99%, #FDCE84 105.26%);
    --color-primary: #0097DC;
    --color-white: #fff;
    -color-placeholder: #C0C0C0;
}

.fs-brand>* {
    font-size: 48px;
    background: linear-gradient(90deg, rgba(11, 51, 154, 0.85) 0%, rgba(0, 151, 220, 0.85) 49.13%, rgba(0, 122, 210, 0.85) 99.72%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fs-heading-1>* {
    font-size: 40px;
    margin-bottom: 0;
}

.fs-small,
.fs-small * {
    font-size: 12px;
}

.title-gradient-2>* {
    background: linear-gradient(90deg, rgba(11, 51, 154, 0.85) 0%, rgba(0, 151, 220, 0.85) 49.13%, rgba(0, 122, 210, 0.85) 99.72%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-shadown>* {
    filter: drop-shadow(4px 4px 0px var(--color-white));
}

.body-text>* {
    font-size: 16px;
    line-height: 1.8;
    color: #333;
}

.bg-gradient {
    background: linear-gradient(90deg, rgba(11, 51, 154, 0.85) 0%, rgba(0, 151, 220, 0.85) 49.13%, rgba(0, 122, 210, 0.85) 99.72%);
    color: var(--color-white);
}

.bg-gradient * {
    color: var(--color-white)
}

.col-center .col {
    padding-bottom: 0 !important;
}
.text-justify {
    text-align: justify;
}
.titles__homep .section-title.section-title-center{
    flex-wrap: nowrap;
}